* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navigation-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    padding-left: 90px;
   }

img[src*="png"] {
    width: 100px;
    height: 100%;
}

.rsu-logo-n-description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: auto;
    padding-right: 100px;
}

.hero-container {
    display: flex;
    background: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url("images/scott-webb-yekGLpc3vro-unsplash-cropped.jpg");
    height: 80vh;
    margin-top: 20px;
}

img[src*="jpg"] {
    width: 100vw;
    height: 100vh;
}

.hero-container .be-our-eyes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: rgb(252, 250, 250);
    padding-left: 200px;
    text-align: left;
}

.be-our-eyes h1 {
    font-size: 5rem;
}

.be-our-eyes p {
    font-size: 1.6rem;

}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}